<p>my-component works!</p>

<input [(ngModel)]="name">

<!--<div class="rows"><input type="text"  [(ngModel)]="id" readonly></div>-->

<div class="rows">
    <select [(ngModel)]="id">
        <option *ngFor="let Pok of (listId | filterPokemonPipe:'name':name)" value="{{Pok.id}}">{{Pok.name}} </option>
    </select>
</div>

<div class="rows"><button type="submit"  (click)="valider($event)">GO</button></div>

<div *ngIf="click">

  <app-affiche-pokemon [idPokemon]="id">

  </app-affiche-pokemon>
</div>




